# Ignore node_modules - these will be installed inside the Docker container
node_modules

# Ignore any log files
*.log

# Ignore environment variable files
.env

# Ignore Docker-related files
.dockerignore
Dockerfile

# Ignore miscellaneous files
*.md
.vscode/
.idea/
*.swp
*~
